<%= turbo_frame_tag 'bookmark_modal' do %>
<div class="modal fade" id="bookmarkModal" data-controller="bookmark">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-3">

      <div class="modal-body">  
        <div class="text-end">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-action="turbo:submit-end->bookmark#close"></button>
        </div>
        <div class="text-center mb-4">
          <h1 class="modal-title fs-2 fw-semibold" id="staticBackdropLabel"><%= t('bookmark.title') %></h1>
        </div>

        <%= render "form" %>

      </div>
    </div>
  </div>
</div>
<% end %>
