    <div id="folder-panel-<%= folder.id %>" class="accordion-collapse collapse"
            data-bs-parent="#category-accordion-<%= category.id %>">
            <div class="folder-frame">
                <%# フォルダ要素 %>
                <div class="folder-back" style="">
                    <div class="content">
                        <%# +ボタン(要素) %>
                        <%= render "shared/add_button", category: category, folder_id: folder.id %>
                    </div>
                </div>
            </div>
    </div>