<!-- ログイン前ヘッダ共通部品 -->
<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">

    <%= link_to('/', class: "navbar-brand icon") do %>
      <% image_tag("icon.png") %>
    <% end %>
    <%= link_to('/', class: "navbar-brand") do %>
      <% image_tag("logo.png") %>
    <% end %>
    
    <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto main-nav align-items-center">
        <li class="nav-item">
            <%= link_to(t('dictionary.login'), login_path, id: "head-login-link", class: "nav-link btn btn-success active", style: "color:white;", data: {turbo_frame: 'login_modal', controller: 'login-modal'}) %>
        </li>
        <li class="nav-item">
            <%= link_to(t('dictionary.new_user'), new_user_path, id: "head-new-link", class: "nav-link btn btn-secondary active", style: "color:white;", data: {turbo_frame: 'sign_modal', controller: 'sign-in-modal'}) %>
        </li>
      </ul>
    </div>
  </nav>
</header>