<div class="group">
    <%# グループヘッダ %>
    <div class="group-title">
        <span class="ms-2"><%= group.is_personal? ? 'My Bookmarks' : "Group" %></span>
    </div>
    <%# グループbody %>
    <div  class="group-body">
        <div id="layout_1">
            <%= render partial: "categories/category", collection: group.categories %>
        </div>

        <%= link_to(new_category_path, data: {turbo_frame: 'category_modal'} ) do %>
        <div class="category-add">
            <div class="add-button">
                <i class="bi bi-plus-circle-fill"></i>
            </div>
        </div>
        <% end %>
    </div>
</div>