<div class="group">
    <%# グループヘッダ %>
    <div class="group-title">
        <span class="ms-2"><%= group.is_personal? ? 'My Bookmarks' : "Group" %></span>
    </div>
    <%# グループbody %>
    <div class="group-body">
        <%# ダミーアイテム %>
        <div class="item-back">
            <div class="item-contents">
                <div class="image-container">
                    <%= image_tag("sample.jpg", class: "link-image") %>
                </div>
                <div class="link-title text-start">ダミーTitle</div>
                <div class="link-desc text-start ">ダミーDescription</div>
            </div>
        </div>

        <%# +ボタン %>
        <div class="item-back add">
            <div class="add-button">
                <i class="bi bi-plus-circle-fill"></i>
            </div>
        </div>
    </div>
</div>