.icon {
  margin-left: 12px;
}

.nav-item {
  width: 100%; 
  margin-right: 5%;
  margin-left: -3%;
  @media screen and (max-width: 991px) {
    margin:auto; 
  }
  .nav-link {
    color: white;
  }
  .btn {   
    width:90px;
    @media screen and (max-width: 991px) {
      width:100%;
      text-align: center;
      margin:auto; 
      border-radius: 0px;
    }
  }

}

.head_link {
  color: rgb(97, 97, 97);
  text-decoration: none;
}